* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --main-color: #fff;
    --second-color: #0f469a;
    --border-color: #e0edff;
    --html-scale-color: #f82525;
    --html-background-color: #fde4e4;
    --css-scale-color: #022075;
    --css-background-color: #022075;
    --js-scale-color: #d8b300;
    --js-background-color: #fef8dc;
}

/* 
Start Styling [Header]
========================================
*/

header {
    width: 100Vw;
    padding: 20px 0;
}

h1 {
    text-transform: capitalize;
    text-align: center;
    margin: 10px auto;
    font-size: 35px;
    color: var(--second-color);
}

/* 
Start Styling [Main Content]
========================================
*/

main {
    width: 90%;
    max-width: 800px;
    min-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 570px) {
    main {
        width: 300px;
        min-width: 300px;
    }
    h1 { 
        font-size: 25px;
    }
}

/* 
Start openning_container:
========================
*/

.openning_container {
    box-shadow: 0px 0px 20px -10px black;
    border-radius: 10px;
    padding: 20px;
}

.openning_container h2, 
.openning_container p {
    text-align: center;
    text-transform: capitalize;
}

.openning_container h2 {
    color: #022075;
}

.openning_container p {
    color: #0f469a;
    font-weight: 500;
    margin: 10px 0 30px;
}

.quiz_languages {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.quiz_languages .lang {
    box-shadow: 0px 0px 10px -5px black;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    filter: blur(10px);
    opacity: 0;
    transform: translateY(30px);
    animation: lang 0.5s linear forwards;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.quiz_languages .lang:hover {
    background-color: #f5f5f5;
}

.quiz_languages .html.active {
    border: 2px solid var(--html-scale-color);
}

.quiz_languages .css.active {
    border: 2px solid var(--css-scale-color);
}

.quiz_languages .js.active {
    border: 2px solid var(--js-scale-color);
}

.quiz_languages .css {
    animation-delay: 0.2s;
}

.quiz_languages .js {
    animation-delay: 0.3s;
}

.quiz_languages .lang i {
    font-size: 35px;
}

.quiz_languages .html i {
    color: var(--html-scale-color);
}

.quiz_languages .css i {
    color: var(--css-scale-color);
}

.quiz_languages .js i {
    color: var(--js-scale-color);
}

.quiz_languages .lang .quiz_languages_info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.quiz_languages .lang .quiz_languages_info > span:first-child {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.quiz_languages .html .quiz_languages_info span:first-child {
    color: var(--html-scale-color);
}

.quiz_languages .css .quiz_languages_info span:first-child {
    color: var(--css-scale-color);
}

.quiz_languages .js .quiz_languages_info span:first-child {
    color: var(--js-scale-color);
}

.openning_container .start_btn {
    display: none;
    width: 70%;
    min-width: 200px;
    box-shadow: 0px 0px 15px -5px black;
    padding: 15px;
    border-radius: 100vw;
    margin: auto;
    font-weight: 700;
    font-size: 20px;
    color: var(--main-color);
    background-color: var(--second-color);
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
}

.openning_container .start_btn:hover {
    background-color: var(--main-color);
    color: var(--second-color);
    
}

@keyframes lang {
    to {
        filter: blur(0px);
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 570px) {
    h2 {
        font-size: 20px;
    }
    .openning_container > p {
        font-size: 12px;
    }
    .quiz_languages {
        gap: 10px;
    }
    .quiz_languages .lang .quiz_languages_info > span:first-child {
        font-size: 15px;
    }
    .quiz_languages .lang i {
        font-size: 30px;
    }
    .openning_container .start_btn {
        font-size: 15px;
        padding: 15px;
        min-width: fit-content;
    }
}

/* 
Start quiz_containerr:
========================
*/

.quiz_container {
    box-shadow: 0px 0px 20px -10px black;
    border-radius: 10px;
    padding: 20px;
    display: none;
}

.quiz_container_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 15px -7px black;
    padding: 20px 10px;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.quiz_container_header .quiz_info {
    font-weight: bold;
}

.question_area .question {
    min-height: 80px;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: var(--second-color);
    box-shadow: -10px 10px 15px -15px black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.question_area .choices {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--second-color);
}

.question_area .choices > p {
    padding: 10px;
    border: 2px solid var(--second-color);
    border-radius: 0 10px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.question_area .choices > p:hover {
    color: var(--main-color);
    background-color: var(--second-color);
    border-radius: 10px 0;
}

.question_area .choices > p.selected {
    color: var(--main-color);
    background-color: var(--second-color);
    border-radius: 10px 0;
    font-weight: bold;
}

.quiz_container .submit {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.quiz_container .submit > span:last-child,
.quiz_container .submit > span:first-child {
    background-color: var(--second-color);
    color: var(--main-color);
    box-shadow: 0px 0px 15px -7px black;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 0 20px;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s;
    
}

.quiz_container .submit > span:hover:first-child {
    border-radius: 20px 0;
    background-color: var(--css-scale-color);
}

.quiz_container .submit > span:last-child {
    background-color: var(--html-scale-color);
    border-radius: 20px 0;
    font-size: 14px;
}

.quiz_container .submit > span:hover:last-child {
    border-radius: 0 20px;
    background-color: #d61414;
}

.quiz_container .submit > span:nth-last-child(2) {
    font-size: 20px;
    font-weight: bold;
    color: var(--second-color);

}

.quiz_container .submit .timer_container {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0px 0px 10px -5px #093b85;
    position: relative;
    transition: all 0.5s;
}

.quiz_container .submit .timer_container::before {
    content: "";
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz_container .submit .timer_container .timer {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.home_btn {
    width: fit-content;
    padding: 15px 30px;
    background-color: var(--second-color);
    color: var(--main-color);
    margin: 30px auto 0;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 15px -7px black;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

.home_btn:hover {
    border-color: var(--second-color);
    color: var(--second-color);
    box-shadow: none;
    background-color: var(--main-colors);
}

@media (max-width: 570px) {
    .quiz_container_header {
        font-size: 14px;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 12px;
        padding: 10px;
    }
    .question_area .question {
        font-size: 13px;
        line-height: 1.5;
    }
    .question_area .choices {
        gap: 5px;
    }
    .question_area .choices p {
        gap: 5px;
        font-size: 10px;
    }
    .quiz_container .submit  {
        flex-direction: column;
        gap: 15px;
        margin-top: 15px;
    }
    .quiz_container .submit  span.submit_btn {
        width: 100%;
        font-size: 15px;
        border-radius: 8px;
        padding: 10px;
        text-align: center;
    }
    .quiz_container .submit  > span:last-child {
        text-align: center;
        font-size: 10px;
        padding: 10px;
        border-radius: 8px;
    }
    .quiz_container .submit .timer_container {
        width: 50px;
        height: 50px;
    }

    .quiz_container .submit .timer_container .timer {
        font-size: 12px;
    }
    .home_btn {
        font-size: 14px;
        padding: 10px 25px;
        margin-top: 20px;
    }

}

/* 
Start Showing Result:
====================
*/

.question_area .result {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 19px;
    color: var(--second-color);
    font-weight: bold;
}

p.finish_msg {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
    color: var(--html-scale-color);
}

.show_all_results_btn {
    width: fit-content;
    padding: 15px 30px;
    background-color: var(--second-color);
    color: var(--main-color);
    margin: 30px auto 0;
    border-radius: 10px;
    border: 2px solid transparent;
    box-shadow: 0px 0px 15px -7px black;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    transition: all 0.3s;
}

.show_all_results_btn:hover {
    border-color: var(--second-color);
    color: var(--second-color);
    box-shadow: none;
    background-color: var(--main-colors);
}

@media (max-width: 570px) {
    .quiz_languages .finish_msg {
        font-size: 18px;
    }
    .question_area .result {
        gap: 5px;
        font-size: 14px;
    }
    .show_all_results_btn {
        font-size: 12px;
        padding: 10px;
    }
}

/*  Start Showing Score 
===================
*/

.all_results_container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
    transform: rotateX(90deg);
    transform-origin: top;
    animation: show_score_container 0.5s linear forwards;
}

@keyframes show_score_container {
    to {
        transform: rotateX(0deg);
    }
}

.quiz_score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 5px;
    border-radius: 0 100vw 100vw 0px;
    box-shadow: 0px 0px 13px -9px black;
    color: var(--second-color);
    font-weight: bold;
}

.quiz_score .score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 11px -5px #407dd8;
    font-size: 15px;
    position: relative;
    z-index: 0;
}

.quiz_score .score::before {
    content: "";
    width: 85%;
    height: 85%;
    border-radius: 50%;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

@media (max-width: 570px) {
    .all_results_container {
        gap: 10px;
    }
    .all_results_container .quiz_score > span{
        gap: 10px;
        font-size: 12px;
    }
    .all_results_container .quiz_score .score{
        width: 50px;
        height: 50px;
        font-size: 10px;
    }
}